@charset "UTF-8";
/*
  The code below has been extracted from the following projects:

  - https://github.com/murtaugh/HTML5-Reset
  - http://meyerweb.com
  - http://html5doctor.com
  - http://html5boilerplate.com

  … and then cleaned up a lot.
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
code,
em,
img,
small,
strong,
sub,
sup,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
time,
audio,
video {
  padding: 0;
  border: 0;
  margin: 0;
  background: transparent;
  font-size: 100%;
  font-weight: inherit;
  vertical-align: baseline;
}

article,
aside,
figure,
footer,
header,
nav,
section {
  display: block;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
}

html,
body {
  background-color: #fff;
  color: #000;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
object {
  max-width: 100%;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

input,
select {
  vertical-align: middle;
}

input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

strong {
  font-weight: bold;
}

label,
input[type=file] {
  cursor: pointer;
}

input,
select,
textarea {
  border: 0;
  border-radius: 0;
  margin: 0;
}

button,
input[type=button],
input[type=submit] {
  padding: 0;
  border: 0;
  border-radius: 0;
  margin: 0;
  background: transparent;
  appearance: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.row {
  margin-left: -0.7rem;
  margin-right: -0.7rem;
}

[class*=col] {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-xs-12 {
  flex: 0 0 100%;
}

.row.reversed-xs {
  flex-direction: row-reverse;
}

.col-xs-11 {
  flex: 0 0 91.6666666667%;
}

.row.reversed-xs {
  flex-direction: row-reverse;
}

.col-xs-10 {
  flex: 0 0 83.3333333333%;
}

.row.reversed-xs {
  flex-direction: row-reverse;
}

.col-xs-9 {
  flex: 0 0 75%;
}

.row.reversed-xs {
  flex-direction: row-reverse;
}

.col-xs-8 {
  flex: 0 0 66.6666666667%;
}

.row.reversed-xs {
  flex-direction: row-reverse;
}

.col-xs-7 {
  flex: 0 0 58.3333333333%;
}

.row.reversed-xs {
  flex-direction: row-reverse;
}

.col-xs-6 {
  flex: 0 0 50%;
}

.row.reversed-xs {
  flex-direction: row-reverse;
}

.col-xs-5 {
  flex: 0 0 41.6666666667%;
}

.row.reversed-xs {
  flex-direction: row-reverse;
}

.col-xs-4 {
  flex: 0 0 33.3333333333%;
}

.row.reversed-xs {
  flex-direction: row-reverse;
}

.col-xs-3 {
  flex: 0 0 25%;
}

.row.reversed-xs {
  flex-direction: row-reverse;
}

.col-xs-2 {
  flex: 0 0 16.6666666667%;
}

.row.reversed-xs {
  flex-direction: row-reverse;
}

.col-xs-1 {
  flex: 0 0 8.3333333333%;
}

.row.reversed-xs {
  flex-direction: row-reverse;
}

@media (min-width: 768px) {
  .col-sm-12 {
    flex: 0 0 100%;
  }

  .col-sm-11 {
    flex: 0 0 91.6666666667%;
  }

  .col-sm-10 {
    flex: 0 0 83.3333333333%;
  }

  .col-sm-9 {
    flex: 0 0 75%;
  }

  .col-sm-8 {
    flex: 0 0 66.6666666667%;
  }

  .col-sm-7 {
    flex: 0 0 58.3333333333%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
  }

  .col-sm-5 {
    flex: 0 0 41.6666666667%;
  }

  .col-sm-4 {
    flex: 0 0 33.3333333333%;
  }

  .col-sm-3 {
    flex: 0 0 25%;
  }

  .col-sm-2 {
    flex: 0 0 16.6666666667%;
  }

  .col-sm-1 {
    flex: 0 0 8.3333333333%;
  }

  .row.reversed-sm {
    flex-direction: row-reverse;
  }
}
@media (min-width: 992px) {
  .col-md-12 {
    flex: 0 0 100%;
  }

  .col-md-11 {
    flex: 0 0 91.6666666667%;
  }

  .col-md-10 {
    flex: 0 0 83.3333333333%;
  }

  .col-md-9 {
    flex: 0 0 75%;
  }

  .col-md-8 {
    flex: 0 0 66.6666666667%;
  }

  .col-md-7 {
    flex: 0 0 58.3333333333%;
  }

  .col-md-6 {
    flex: 0 0 50%;
  }

  .col-md-5 {
    flex: 0 0 41.6666666667%;
  }

  .col-md-4 {
    flex: 0 0 33.3333333333%;
  }

  .col-md-3 {
    flex: 0 0 25%;
  }

  .col-md-2 {
    flex: 0 0 16.6666666667%;
  }

  .col-md-1 {
    flex: 0 0 8.3333333333%;
  }

  .row.reversed-md {
    flex-direction: row-reverse;
  }
}
@media (min-width: 1200px) {
  .col-lg-12 {
    flex: 0 0 100%;
  }

  .col-lg-11 {
    flex: 0 0 91.6666666667%;
  }

  .col-lg-10 {
    flex: 0 0 83.3333333333%;
  }

  .col-lg-9 {
    flex: 0 0 75%;
  }

  .col-lg-8 {
    flex: 0 0 66.6666666667%;
  }

  .col-lg-7 {
    flex: 0 0 58.3333333333%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
  }

  .col-lg-5 {
    flex: 0 0 41.6666666667%;
  }

  .col-lg-4 {
    flex: 0 0 33.3333333333%;
  }

  .col-lg-3 {
    flex: 0 0 25%;
  }

  .col-lg-2 {
    flex: 0 0 16.6666666667%;
  }

  .col-lg-1 {
    flex: 0 0 8.3333333333%;
  }

  .row.reversed-lg {
    flex-direction: row-reverse;
  }
}
.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

@media (min-width: 768px) {
  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }
}
@media (min-width: 992px) {
  .col-md-offset-12 {
    margin-left: 100%;
  }

  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }
}
@media (min-width: 1200px) {
  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }
}
.col-auto {
  flex: 1;
}

[data-aspect-ratio] {
  display: block;
  max-width: 100%;
  position: relative;
}
[data-aspect-ratio]:before {
  content: "";
  display: block;
}
[data-aspect-ratio] > * {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

[data-aspect-ratio="3:1"]:before {
  padding-top: 33.33%;
}

[data-aspect-ratio="2:1"]:before {
  padding-top: 50%;
}

[data-aspect-ratio="16:9"]:before {
  padding-top: 56.25%;
}

[data-aspect-ratio="3:2"]:before {
  padding-top: 66.66%;
}

[data-aspect-ratio="4:3"]:before {
  padding-top: 75%;
}

[data-aspect-ratio="1:1"]:before {
  padding-top: 100%;
}

[data-aspect-ratio="3:4"]:before {
  padding-top: 133.33%;
}

[data-aspect-ratio="2:3"]:before {
  padding-top: 150%;
}

[data-aspect-ratio="9:16"]:before {
  padding-top: 177.77%;
}

[data-aspect-ratio="1:2"]:before {
  padding-top: 200%;
}

[data-aspect-ratio="1:3"]:before {
  padding-top: 300%;
}

[data-aspect-ratio=custom]:before {
  padding-top: 75%;
}

input[type=text], input[type=password], input[type=email], input[type=number], select, textarea {
  font-size: 16px !important;
  color: #777;
  background-color: #FFF;
  font-weight: 400;
  display: block;
  width: 100%;
  min-height: 2.8rem;
  border: 1px solid #f3f3f3;
  border-radius: 0;
  box-shadow: none;
  height: auto;
  padding: 15px;
  margin-bottom: 0.4rem;
  margin-top: 0;
  -webkit-appearance: none;
}

textarea {
  resize: vertical;
  color: #777;
  border: 1px solid #f3f3f3;
  border-radius: 0;
  padding: 0.8rem;
}

input, textarea {
  padding: 0.8rem;
}

input, select, textarea {
  border: 1px solid #f3f3f3;
}
input::placeholder, select::placeholder, textarea::placeholder {
  color: #a8a8a8;
  font-size: 0.95rem;
  font-weight: 100;
  font-style: italic;
}
input:focus, select:focus, textarea:focus {
  outline: 0;
  border: 1px solid #0098F9;
}
input:focus, select:focus, textarea:focus {
  border: 1px solid #0098F9;
}

label, .labelLike {
  color: #222;
  font-size: 0.85rem;
  line-height: 1.3rem;
  font-family: "Open Sans", arial, sans-serif;
}

button, input[type=submit], .button, .submit {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  border: none;
  border-radius: 2px;
  font-weight: 300;
  background-color: #0098F9;
  -webkit-transition: all 200ms ease-in-out 0s;
  transition: all 200ms ease-in-out 0s;
  color: #fff;
  text-align: center;
  cursor: pointer;
  -webkit-appearance: none;
  font-size: 0.78rem;
  line-height: 1rem;
  font-family: "Open Sans", arial, sans-serif;
}
button a, input[type=submit] a, .button a, .submit a {
  color: #fff;
}
button:hover, input[type=submit]:hover, .button:hover, .submit:hover {
  background-color: #0087e2;
  color: #fff;
}
button.big, input[type=submit].big, .button.big, .submit.big {
  padding: 1rem;
  font-weight: 100;
  border-radius: 0;
  background-color: #0e4c73;
  font-size: 0.95rem;
}
button.big:hover, input[type=submit].big:hover, .button.big:hover, .submit.big:hover {
  background-color: #0087e2;
}

button[disabled] {
  background-color: dimgray;
  cursor: default;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.semi-bold {
  font-weight: 600;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.absolute {
  position: absolute;
}

.hidden {
  display: none;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.circle {
  border-radius: 50%;
}

.visible {
  opacity: 1;
}

.invisible {
  opacity: 0;
}

.center-hv, .box {
  display: grid;
  place-items: center;
}

.center-hv-flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-hv-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.flex {
  display: flex;
}

.center-horizontal, .center-hz {
  display: grid;
  justify-items: center;
}

.center-horizontal-flexbox, .center-hz-flex {
  display: flex;
  justify-content: center;
}

.center-vertical, .center-vt {
  display: grid;
  align-items: center;
}

.center-vertical-flexbox, .center-vt-flex {
  display: flex;
  align-items: center;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.padding {
  padding: 0.7rem;
}

.padding-vertical, .p-vt {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.padding-horizontal, .p-hz {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

.padding-top, .p-t {
  padding-top: 0.7rem;
}

.padding-bottom, .p-b {
  padding-bottom: 0.7rem;
}

.padding-left, .p-l {
  padding-left: 0.7rem;
}

.padding-right, .p-r {
  padding-right: 0.7rem;
}

.margin-vertical, .m-vt {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

.margin-horizontal, .m-hz {
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}

.margin-top, .m-t {
  margin-top: 0.7rem;
}

.margin-bottom, .m-b {
  margin-bottom: 0.7rem;
}

.margin-left, .m-l {
  margin-left: 0.7rem;
}

.margin-right, .m-r {
  margin-right: 0.7rem;
}

/*CLEARFIX*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/*FLOAT START*/
.float:before, .float:after {
  content: " ";
  display: table;
}

.float:after {
  clear: both;
}

.float {
  *zoom: 1;
}

.float .left {
  float: left;
}
.float .right {
  float: right;
}

@media (max-width: 768px) {
  .hidden-xs {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none;
  }
}
.message, .success, .warning, .error {
  background-color: #f3f3f3;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
}
.message *, .success *, .warning *, .error * {
  padding: 0;
}

.error {
  color: red;
  background-color: #fbe3e3;
  border: 1px solid #ffc3c3;
}

.warning {
  color: yellow;
  background-color: #fdfd87;
  border: 1px solid #d8d861;
}

.success {
  color: green;
  background-color: #cdeacd;
  border: 1px solid #6ebf6e;
}

.fade-in-out {
  opacity: 0;
  transition: opacity 1400ms ease-in-out 200ms;
}
.fade-in-out.in-view {
  opacity: 1;
}

.fade-in {
  opacity: 0;
  transition: opacity 1400ms ease-in-out 200ms;
}
.fade-in.in-view {
  opacity: 1;
}

.visually-hidden {
  opacity: 0;
}

html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
}

h2, p {
  color: #636b6f;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}

header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  background-color: #f3f3f3;
}

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
  background-color: #f3f3f3;
}

.grid-section, .nested-grids-section, .flexbox-grid-section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 1.4rem;
}

.grid-section .grid-container {
  grid-template-columns: 1fr;
}

.nested-grids-section .grid-container {
  grid-template-columns: 1fr;
}

.nested-grid-section .grid-container {
  grid-template-columns: 1fr;
}

.box {
  background-color: #f3f3f3;
  padding: 20px;
  min-height: 100px;
}

@media (min-width: 768px) {
  .grid-section .grid-container {
    grid-template-columns: 1fr 1fr;
  }

  .nested-grid-section .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .grid-section .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .nested-grids-section .grid-container {
    grid-template-columns: 3fr 1fr;
  }

  .nested-grid-section .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .nested-grid-section .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*# sourceMappingURL=app.css.map */
