@import 'partials/reset';
@import 'partials/variables';
@import 'partials/fondation';
@import 'partials/aspect-ratio';
@import 'partials/forms';
@import 'partials/modifiers';

html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
}

p {
  color: #636b6f;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  background-color: $light;
}

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
  background-color: $light;
}

.header, .footer, .grid-section, .nested-grids-section, .nested-grid-section, .nested-aside {
  &__heading {
    @extend p;
    text-align: center;
  }
}

.grid-section, .nested-grids-section, .nested-grid-section, .nested-aside {
  &__heading {
    padding-bottom: $gutter;
  }
}

.grid-section, .nested-grids-section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.grid-container {
  display:-ms-grid;
  display: grid;
  grid-gap: $gutter * 2;
}

.grid-section {
  &__grid-container {
    @extend .grid-container;
    grid-template-columns: 1fr;
  }
}

.nested-grids-section {
  &__grid-container {
    @extend .grid-container;
    grid-template-columns: 1fr;
  }
}

.nested-grid-section {
  &__grid-container {
    @extend .grid-container;
    grid-template-columns: 1fr;
  }
}

.grid-section, .nested-grid-section, .nested-aside {
  &__item {
    background-color: #f3f3f3;
    padding: 20px;
    min-height: 100px;
    display:-ms-grid;
    display: grid;
    place-items: center;
  }
}

//.nested-aside {
//  &__item {
//    &--sticky {
//      position: -webkit-sticky;
//      position: sticky;
//      top: 0;
//    }
//  }
//}


@media (min-width: $size-sm) {
  .grid-section {
    &__grid-container {
      grid-template-columns: 1fr 1fr;
    }
  }
  .nested-grid-section {
    &__grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: $size-md) {
  .grid-section {
    &__grid-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .nested-grids-section {
    &__grid-container {
      grid-template-columns: 3fr 1fr;
    }
  }

  .nested-grid-section {
    &__grid-container {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (min-width: $size-lg) {
  $third: (100/3) + 0%;
  .nested-grid-section {
    &__grid-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}