@charset "UTF-8";
/*
  The code below has been extracted from the following projects:

  - https://github.com/murtaugh/HTML5-Reset
  - http://meyerweb.com
  - http://html5doctor.com
  - http://html5boilerplate.com

  … and then cleaned up a lot.
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
.header__heading,
.footer__heading,
.grid-section__heading,
.nested-grids-section__heading,
.nested-grid-section__heading,
.nested-aside__heading,
blockquote,
pre,
abbr,
code,
em,
img,
small,
strong,
sub,
sup,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
time,
audio,
video {
  padding: 0;
  border: 0;
  margin: 0;
  background: transparent;
  font-size: 100%;
  font-weight: inherit;
  vertical-align: baseline;
}

article,
aside,
figure,
footer,
header,
nav,
section {
  display: block;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
}

html,
body {
  background-color: #fff;
  color: #000;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
object {
  max-width: 100%;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

input,
select {
  vertical-align: middle;
}

input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

strong {
  font-weight: bold;
}

label,
input[type=file] {
  cursor: pointer;
}

input,
select,
textarea {
  border: 0;
  border-radius: 0;
  margin: 0;
}

button,
input[type=button],
input[type=submit] {
  padding: 0;
  border: 0;
  border-radius: 0;
  margin: 0;
  background: transparent;
  appearance: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
[data-aspect-ratio] {
  display: block;
  max-width: 100%;
  position: relative;
}
[data-aspect-ratio]:before {
  content: "";
  display: block;
}
[data-aspect-ratio] > * {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

[data-aspect-ratio="3:1"]:before {
  padding-top: 33.33%;
}

[data-aspect-ratio="2:1"]:before {
  padding-top: 50%;
}

[data-aspect-ratio="16:9"]:before {
  padding-top: 56.25%;
}

[data-aspect-ratio="3:2"]:before {
  padding-top: 66.66%;
}

[data-aspect-ratio="4:3"]:before {
  padding-top: 75%;
}

[data-aspect-ratio="1:1"]:before {
  padding-top: 100%;
}

[data-aspect-ratio="3:4"]:before {
  padding-top: 133.33%;
}

[data-aspect-ratio="2:3"]:before {
  padding-top: 150%;
}

[data-aspect-ratio="9:16"]:before {
  padding-top: 177.77%;
}

[data-aspect-ratio="1:2"]:before {
  padding-top: 200%;
}

[data-aspect-ratio="1:3"]:before {
  padding-top: 300%;
}

[data-aspect-ratio=custom]:before {
  padding-top: 75%;
}

input[type=text], input[type=password], input[type=email], input[type=number], select, textarea {
  font-size: 16px !important;
  color: #777;
  background-color: #FFF;
  font-weight: 400;
  display: block;
  width: 100%;
  min-height: 2.8rem;
  border: 1px solid #f3f3f3;
  border-radius: 0;
  box-shadow: none;
  height: auto;
  padding: 15px;
  margin-bottom: 0.4rem;
  margin-top: 0;
  -webkit-appearance: none;
}

textarea {
  resize: vertical;
  color: #777;
  border: 1px solid #f3f3f3;
  border-radius: 0;
  padding: 0.8rem;
}

input, textarea {
  padding: 0.8rem;
}

input, select, textarea {
  border: 1px solid #f3f3f3;
}
input::placeholder, select::placeholder, textarea::placeholder {
  color: #a8a8a8;
  font-size: 0.95rem;
  font-weight: 100;
  font-style: italic;
}
input:focus, select:focus, textarea:focus {
  outline: 0;
  border: 1px solid #0098F9;
}
input:focus, select:focus, textarea:focus {
  border: 1px solid #0098F9;
}

label, .labelLike {
  color: #222;
  font-size: 0.85rem;
  line-height: 1.3rem;
  font-family: "Open Sans", arial, sans-serif;
}

button, input[type=submit], .button, .submit {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  border: none;
  border-radius: 2px;
  font-weight: 300;
  background-color: #0098F9;
  -webkit-transition: all 200ms ease-in-out 0s;
  transition: all 200ms ease-in-out 0s;
  color: #fff;
  text-align: center;
  cursor: pointer;
  -webkit-appearance: none;
  font-size: 0.78rem;
  line-height: 1rem;
  font-family: "Open Sans", arial, sans-serif;
}
button a, input[type=submit] a, .button a, .submit a {
  color: #fff;
}
button:hover, input[type=submit]:hover, .button:hover, .submit:hover {
  background-color: #0087e2;
  color: #fff;
}
button.big, input[type=submit].big, .button.big, .submit.big {
  padding: 1rem;
  font-weight: 100;
  border-radius: 0;
  background-color: #0e4c73;
  font-size: 0.95rem;
}
button.big:hover, input[type=submit].big:hover, .button.big:hover, .submit.big:hover {
  background-color: #0087e2;
}

button[disabled] {
  background-color: dimgray;
  cursor: default;
}

[class*="--fixed"] {
  position: fixed;
}

[class*="--sticky"] {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

[class*="--hidden"] {
  display: none;
}

[class*="--visible"] {
  opacity: 1;
}

[class*="--invisible"] {
  opacity: 0;
}

.message, [class*="--success"], [class*="--warning"], [class*="--error"] {
  background-color: #f3f3f3;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
}
.message *, [class*="--success"] *, [class*="--warning"] *, [class*="--error"] * {
  padding: 0;
}

[class*="--error"] {
  color: red;
  background-color: #fbe3e3;
  border: 1px solid #ffc3c3;
}

[class*="--warning"] {
  color: yellow;
  background-color: #fdfd87;
  border: 1px solid #d8d861;
}

[class*="--success"] {
  color: green;
  background-color: #cdeacd;
  border: 1px solid #6ebf6e;
}

html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
}

p, .header__heading, .footer__heading, .grid-section__heading, .nested-grids-section__heading, .nested-grid-section__heading, .nested-aside__heading {
  color: #636b6f;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}

header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  background-color: #f3f3f3;
}

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
  background-color: #f3f3f3;
}

.header__heading, .footer__heading, .grid-section__heading, .nested-grids-section__heading, .nested-grid-section__heading, .nested-aside__heading {
  text-align: center;
}

.grid-section__heading, .nested-grids-section__heading, .nested-grid-section__heading, .nested-aside__heading {
  padding-bottom: 0.7rem;
}

.grid-section, .nested-grids-section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.grid-container, .nested-grid-section__grid-container, .nested-grids-section__grid-container, .grid-section__grid-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 1.4rem;
}

.grid-section__grid-container {
  grid-template-columns: 1fr;
}

.nested-grids-section__grid-container {
  grid-template-columns: 1fr;
}

.nested-grid-section__grid-container {
  grid-template-columns: 1fr;
}

.grid-section__item, .nested-grid-section__item, .nested-aside__item {
  background-color: #f3f3f3;
  padding: 20px;
  min-height: 100px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

@media (min-width: 768px) {
  .grid-section__grid-container {
    grid-template-columns: 1fr 1fr;
  }

  .nested-grid-section__grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .grid-section__grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .nested-grids-section__grid-container {
    grid-template-columns: 3fr 1fr;
  }

  .nested-grid-section__grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .nested-grid-section__grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*# sourceMappingURL=bem.css.map */
