//FLEXBOX GRID FOUNDATION START

.row {
  margin-left: -$gutter;
  margin-right: -$gutter;
}

[class*="col"] {
  padding-left: $gutter;
  padding-right: $gutter;
}

@function col($cols) {
  @return percentage(1/$number-of-columns) * $cols;
}

@mixin columns-flex($cols) {
  flex: 0 0 col($cols);
}

//GRID SPECIFIC
.row {
  display: flex;
  flex-wrap: wrap;
}

@for $i from $number-of-columns through 1 {
  .col-xs-#{$i} {
    @include columns-flex($i);
  }
  .row.reversed-xs {
    flex-direction: row-reverse;
  }
}

@media (min-width: $size-sm) {
  @for $i from $number-of-columns through 1 {
    .col-sm-#{$i} {
      @include columns-flex($i);
    }
  }
  .row.reversed-sm {
    flex-direction: row-reverse;
  }
}

@media (min-width: $size-md) {
  @for $i from $number-of-columns through 1 {
    .col-md-#{$i} {
      @include columns-flex($i);
    }
  }
  .row.reversed-md {
    flex-direction: row-reverse;
  }
}

@media (min-width: $size-lg) {
  @for $i from $number-of-columns through 1 {
    .col-lg-#{$i} {
      @include columns-flex($i);
    }
  }
  .row.reversed-lg {
    flex-direction: row-reverse;
  }
}

//OFFSETS
@for $i from $number-of-columns through 1 {
  .col-xs-offset-#{$i} {
    margin-left: col($i);
  }
}

@media (min-width: $size-sm) {
  @for $i from $number-of-columns through 1 {
    .col-sm-offset-#{$i} {
      margin-left: col($i);
    }
  }
}

@media (min-width: $size-md) {
  @for $i from $number-of-columns through 1 {
    .col-md-offset-#{$i} {
      margin-left: col($i);
    }
  }
}

@media (min-width: $size-lg) {
  @for $i from $number-of-columns through 1 {
    .col-lg-offset-#{$i} {
      margin-left: col($i);
    }
  }
}

.col-auto {
  flex: 1;
}




