//FOUNDATION START

html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  padding-left: $gutter;
  padding-right: $gutter;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $size-sm) {
  .container {
    width: $size-sm-container;
  }
}

@media (min-width: $size-md) {
  .container {
    width: $size-md-container;
  }
}

@media (min-width: $size-lg) {
  .container {
    width: $size-lg-container;
  }
}