input[type="text"], input[type="password"], input[type="email"], input[type="number"], select, textarea {
  font-size: 16px !important;
  color: #777;
  background-color: #FFF;
  font-weight: 400;
  display: block;
  width: 100%;
  min-height: 2.8rem;
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  box-shadow: none;
  height: auto;
  padding: 15px;
  margin-bottom: .4rem;
  margin-top: 0;
  -webkit-appearance: none;
}

textarea {
  resize: vertical;
  color: #777;
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  padding: .8rem;
}

input, textarea {
  padding: .8rem;
}

input, select, textarea {
  &::placeholder {
    color: #a8a8a8;
    font-size: 0.95rem;
    font-weight: 100;
    font-style: italic;
  }
  border: $border-width solid $border-color;
  &:focus {
    outline: 0;
    border: $border-width solid $primary-color;
  }
  &:focus {
    border: $border-width solid $primary-color;
  }
}

label, .labelLike {
  color: #222;
  font-size: .85rem;
  line-height: 1.3rem;
  font-family: 'Open Sans', arial, sans-serif;
}

button, input[type=submit], .button, .submit {
  display: inline-block;
  padding: .3rem .5rem;
  border: none;
  border-radius: 2px;
  font-weight: 300;
  background-color: #0098F9;
  -webkit-transition: all 200ms ease-in-out 0s;
  transition: all 200ms ease-in-out 0s;
  color: #fff;
  text-align: center;
  cursor: pointer;
  -webkit-appearance: none;
  font-size: .78rem;
  line-height: 1rem;
  font-family: 'Open Sans', arial, sans-serif;
  a {
    color: #fff;
  }
  &:hover {
    background-color: #0087e2;
    color: #fff;
  }
  &.big {
    padding: 1rem;
    font-weight: 100;
    border-radius: 0;
    background-color: #0e4c73;
    font-size: 0.95rem;
    &:hover {
      background-color: #0087e2;
    }
  }
}

button {
  &[disabled] {
    background-color: dimgray;
    cursor: default;
  }
}