[class*="--fixed"] {
  position: fixed;
}

[class*="--sticky"] {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

[class*="--hidden"] {
  display:none;
}

[class*="--visible"] {
  opacity: 1;
}

[class*="--invisible"] {
  opacity: 0;
}

.message {
  background-color: #f3f3f3;
  padding: .5rem;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  * {
    padding: 0;
  }
}

[class*="--error"] {
  @extend .message;
  color: red;
  background-color: #fbe3e3;
  border: 1px solid #ffc3c3;
}

[class*="--warning"] {
  @extend .message;
  color: yellow;
  background-color: #fdfd87;
  border: 1px solid #d8d861;
}

[class*="--success"] {
  @extend .message;
  color: green;
  background-color: #cdeacd;
  border: 1px solid #6ebf6e;
}
