.img-responsive {
  width:100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.semi-bold {
  font-weight: 600;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.absolute {
  position: absolute;
}

.hidden {
  display:none;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.circle {
  border-radius: 50%;
}

.visible {
  opacity: 1;
}

.invisible {
  opacity: 0;
}

.center-hv {
  display: grid;
  place-items: center;
}

.center-hv-flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-hv-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.flex {
  display: flex;
}

.center-horizontal, .center-hz {
  display: grid;
  justify-items: center;
}

.center-horizontal-flexbox, .center-hz-flex {
  display: flex;
  justify-content: center;
}

.center-vertical, .center-vt {
  display: grid;
  align-items: center;
}

.center-vertical-flexbox, .center-vt-flex {
  display: flex;
  align-items: center;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.padding {
  padding: $gutter;
}

.padding-vertical, .p-vt {
  padding-top: $gutter;
  padding-bottom: $gutter;
}

.padding-horizontal, .p-hz {
  padding-left: $gutter;
  padding-right: $gutter;
}

.padding-top, .p-t {
  padding-top: $gutter;
}

.padding-bottom, .p-b {
  padding-bottom: $gutter;
}

.padding-left, .p-l {
  padding-left: $gutter;
}

.padding-right, .p-r {
  padding-right: $gutter;
}

.margin-vertical, .m-vt {
  margin-top: $gutter;
  margin-bottom: $gutter;
}

.margin-horizontal, .m-hz {
  margin-left: $gutter;
  margin-right: $gutter;
}

.margin-top, .m-t {
  margin-top: $gutter;
}

.margin-bottom, .m-b {
  margin-bottom: $gutter;
}

.margin-left, .m-l {
  margin-left: $gutter;
}

.margin-right, .m-r {
  margin-right: $gutter;
}

/*CLEARFIX*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

/*FLOAT START*/
.float:before, .float:after {
  content: " ";
  display: table;
}
.float:after {
  clear: both;
}
.float {
  *zoom: 1;
}
.float {
  .left {
    float: left;
  }
  .right {
    float: right;
  }
}

@media (max-width: $size-sm) {
  .hidden-xs{
    display: none;
  }
}

@media (min-width: $size-sm) and (max-width: $size-md - 1px) {
  .hidden-sm{
    display: none;
  }
}

@media (min-width: $size-md) and (max-width: $size-lg - 1px) {
  .hidden-md{
    display: none;
  }
}

@media (min-width: $size-lg) {
  .hidden-lg{
    display: none;
  }
}

.message {
  background-color: #f3f3f3;
  padding: .5rem;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  * {
    padding: 0;
  }
}

.error {
  @extend .message;
  color: red;
  background-color: #fbe3e3;
  border: 1px solid #ffc3c3;
}

.warning {
  @extend .message;
  color: yellow;
  background-color: #fdfd87;
  border: 1px solid #d8d861;
}

.success {
  @extend .message;
  color: green;
  background-color: #cdeacd;
  border: 1px solid #6ebf6e;
}


.fade-in-out {
  opacity: 0;
  transition: opacity 1400ms ease-in-out 200ms;
  &.in-view {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  transition: opacity 1400ms ease-in-out 200ms;
  &.in-view {
    opacity: 1;
  }
}

.visually-hidden {
  opacity: 0;
}
