$size-xs: 480px;
$size-sm-container: 750px;
$size-sm: 768px;
$size-md-container: 970px;
$size-md: 992px;
$size-lg-container: 1170px;
$size-lg: 1200px;

$number-of-columns: 12;
$gutter: .7rem;

$primary-color: #0098F9;
$light: #f3f3f3;

$border-width: 1px;
$border-color: $light;
$border-radius: 0;